<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>Publication Date: <%= @book.publication_date %></p>
<p><%= link_to 'Read the book', @book.url %></p>
<p>Word Count: <%= @book.word_count %></p>
<p>Category: <%= @book.category %></p>